@charset "utf-8";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 320px) {
    /* Header css mobile*/
    header{
        background-color: #004A8A;
    }
    header img{
        width: 20vw;
        margin-top: 5px;
    }
    header nav ul li{
        display: flex;
        flex-direction: row;
        list-style: none;
        border: solid 2px black;
        text-align: center;
        float: left;
        /* width: ; */
    }
    header nav ul li a{
        text-decoration: none;
        color: black;
        font-family: "Baloo Bhaijaan 2", sans-serif;
        font-size: 12px;
        font-weight: bold;
        padding: 2vw;
        width: 100%;
    }
    
    /* Homepagina css mobile */
    body{
        background-color: #F3F3F3;
    }
    h1{
        font-family: "Baloo Bhaijaan 2", sans-serif;
        font-size: 16px;
        font-weight: bold;
    }
    H3{
        font-family: "Baloo Bhaijaan 2", sans-serif;
        font-size: 14px;
        color: #004A8A;
    }
    p{
        font-family: "Baloo Bhaijaan 2", sans-serif;
        font-size: 12px;
    }
    .welkom-tekst{
        display: block;
        padding: 1rem;
    }
    #welkom .welkom-tekst h1{
        text-align: center;
    
    }
    #welkom .welkom-tekst h2{
        margin-top: 20px;
    }
    #welkom .welkom-tekst p{
        width: 100%;
    }
    #welkom .welkom-tekst .lees-meer{
        display: inline;
    }
    #welkom #welkom-img picture
    #welkom #welkom-img img{
        width: 100%;
        height: auto;
    }

    /* updates css mobile */
    #update{
        margin-top: 20px;
    }
    .rugbyletsel{
        display: grid;
        grid-template-areas: "image tekst pijlen";
        column-gap: repeat(3, 1fr);
        gap: 1rem;
        margin-top: 5px;
        align-items: center;
        border-bottom: solid black 1px;
    }
    .rugbyletsel .rugbyletselimg {
        width: 90px;
        grid-area: "image";
    }
    .rugbyletsel p{
        grid-area: "tekst";
    }
    .rugbyletsel a img{
        grid-area: "pijlen";
    }

    #clubactie{
        display: grid;
        grid-template-areas: "image tekst pijlen";
        column-gap: repeat(3, 1fr);
        gap: 1rem;
        margin-top: 5px;
        align-items: center;
    }
    #clubactie .clubactieimg {
        width: 90px;
        grid-area: "image";
    }
    #clubactie p{
        grid-area: "tekst";
    }
    #cluvactie a img{
        grid-area: "pijlen";
    }

    #updates a button{
        color: white;
        background-color: #75AB30;
        padding: 1vh;
        border-radius: 6px;
        border: #75AB30;
        text-align: center;
        display: inline-block;
        font-family: "Roboto Mono", monospace;
        margin-left: 25vw;
        margin-top: 10px;
    }

    /* reviews css mobile */
    #reviews{
        margin-top: 50px;
    }
    #reviews #ploeger{
        background-color: #D9D9D9;
        width: 90vw;
        border-radius: 5px;
        display: grid;
        grid-template-areas: "profilepicture text";
        gap: 10px;
        align-items: center;
        margin-left: 16px;
        margin-top: 10px;
    }
    #reviews #ploeger .profilepct{
        width: 60px;
        grid-area: "profilepicture";
    }
    #review #ploeger p{
        grid-area: "text";
        align-items: center;
    }
    #reviews #ploeger .review{
        grid-column-start: 2;
        width: 10rem;
    }

    #komSporten{
        background-color: #D9D9D9;
        padding: 6vw;
        margin-top: 10px;
    }

    /* Footer css mobile */
    footer{
        background-color: #004A8A;
        color: white;
    }
    footer #links #contact{
        margin-left: 16px;
    }
    footer #links #contact p:nth-child(1){
        font-size: 18px;
    }
    footer #links #contactKnop{
        margin-top: 20px;
        margin-left: 16px;
    }
    footer #links #contactKnop p:nth-child(1){
        font-size: 18px;
    }
    footer #links #contactKnop a button{
        color: white;
        background-color: #75AB30;
        padding: 1vh;
        border-radius: 6px;
        border: #75AB30;
        text-align: center;
        display: inline-block;
        font-family: "Roboto Mono", monospace;
        margin-top: 5px;
    }
    footer #links #privacy{
        margin-top: 20px;
        text-align: center;
    }
    footer #links #privacy a{
        color: white;
    }
}
@media only screen and (min-width: 320.9px) and (max-width: 719.9px) {
    /* Header css tablet*/
    header{
        background-color: #004A8A;
        display: grid;
        grid: 
        'logo navigatie-item';
    }
    header img{
        width: 10vw;
        grid-area: logo;
    }
    header nav ul li{
        width: 10vw;
        list-style: none;
        grid-area: navigatie-item;
    }
    header nav ul li a{
        color: white;
        text-decoration: none;
        font-family: "Baloo Bhaijaan 2", sans-serif;
        font-size: 20px;
        font-weight: bold;
        /* float: right; */
    }
    
    /* Homepagina css tablet */
    h1{
        font-family: "Baloo Bhaijaan 2", sans-serif;
        font-size: 36px;
        font-weight: bold;
    }
    H3{
        font-family: "Baloo Bhaijaan 2", sans-serif;
        font-size: 32px;
        color: #004A8A;
    }
    p{
        font-family: "Baloo Bhaijaan 2", sans-serif;
        font-size: 16px;
    }
    #banner img{
        background-size: cover;
        width: 100%;
    }
    #welkom h1{
        text-align: center;
    
    }
    #welkom p{
        width: 50vw;
    }
}
@media only screen and (min-width: 720px) {
/* Header css desktop*/
header{
    height: 10vw;
    background-color: #004A8A;
    display: grid;
    grid-template-areas: 
    'logo navigatie-item';
    column-gap: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
}
header img{
    width: 10vw;
    grid-area: "logo";
    margin-left: 30px;
}
header nav ul li{
    width: 10vw;
    list-style: none;
    grid-area: "navigatie-item";
}
header nav ul li a{
    color: white;
    text-decoration: none;
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

/* Homepagina css desktop */
body{
    background-color: #F3F3F3;
}
h1{
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-size: 2.1rem;
    font-weight: bold;
}
H3{
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-size: 2rem;
    color: #004A8A;
}
p{
    font-family: "Baloo Bhaijaan 2", sans-serif;
    font-size: 1rem;
}
#banner img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#banner h1{
    text-align: center;
}
#welkom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "tekst foto";
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}
#welkom  .welkom-tekst{
    max-width: 100%;
    grid-area: "tekst";
}
#welkom .welkom-tekst .lees-meer{
    display: none;
}
#welkom #welkom-img{
    grid-area: "foto";
}
#welkom #welkom-img picture{
  width: 100%;
  height: auto;  
}

/*  update css desktop */
#updates{
    padding: 2rem;
}
#update{
    width: 40vw;
    margin-top: 20px;
    height: 60vh;
    display: grid;
    grid-template-areas: "rugbyletsel clubactie clinics qr";
    column-gap: repeat(2, 3fr);
    gap: 1rem;
}
.rugbyletsel{
    background-color: white;
    grid-area: "rugbyletsel";
    border: solid black 1px;
    padding: 1rem;
}
.rugbyletsel .rugbyletselimg {
    width: 10vw;
    padding: 1vh;
}
.rugbyletsel p b{
    margin-top: 20px;
    color: #004A8A;
    text-align: center
}
.rugbyletsel a img{
    display: none;
}
.rugbyletsel a button{
    color: white;
    background-color: #75AB30;
    padding: 1vh;
    border-radius: 6px;
    border: #75AB30;
    text-align: center;
    display: inline-block;
    font-family: "Roboto Mono", monospace;
    margin-top: 10px;
}

#clubactie{
    background-color: white;
    grid-area: "rugbyletsel";
    border: solid black 1px;
    padding: 1rem;
}
#clubactie .clubactieimg {
    width: 10vw;
    padding: 1vh;
}
#clubactie p b{
    margin-top: 20px;
    color: #004A8A;
    text-align: center
}
#clubactie a img{
    display: none;
}
#clubactie a button{
    color: white;
    background-color: #75AB30;
    padding: 1vh;
    border-radius: 6px;
    border: #75AB30;
    text-align: center;
    display: inline-block;
    font-family: "Roboto Mono", monospace;
    margin-top: 10px;
}

#updates #bekijkUpdates button{
    color: white;
    background-color: #75AB30;
    padding: 1vh;
    border-radius: 6px;
    border: #75AB30;
    text-align: center;
    display: inline-block;
    font-family: "Roboto Mono", monospace;
    margin-left: 45vw;
    margin-top: 10px;
}
}